:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #535bf2;
}



.left {
  transform: rotate(0.5turn);
}

.right {
  transform: rotate(0);
}

.up {
  transform: rotate(-0.25turn);
}

.down {
  transform: rotate(0.25turn);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1em;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 30px;

}

.footer {
  border-top: solid 1px white;
  width: 100%;
  text-align: center;
  font-size: 0.5em;
}



.correct {
  color: green;
}

.sidebar {
  min-width: 250px;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* max-height: 90vh; */
}


.demonsContainer {
  display: flex;
  flex-direction: column;
}

.demonsContainer>h2 {
  margin: 5px 0px;
}

.lifeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.orderContainer {
  display: flex;
  margin: 20px;
  justify-content: center;

}

.container-order-demons {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.mainAnimation {
  flex-grow: 1;
}

#arrContiainer {
  min-height: 150px;
}


.rightBox {
  background-color: black;
  /* #242424; */
  left: 50%;
  width: 300px;
  height: 50px;
  position: absolute;
}

.singleOrder {
  border: solid 1px #b99400;
  background-color: rgb(128, 126, 0);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
}


.summonDesc {
  margin: 5px;
}

.tip {
  font-size: 0.6em;
}


.star {
  height: 300px;

  /* background-image: conic-gradient(#fff 0%, #000 75%); */
  /* clip-path: circle(at center 66%); */
  /* This creates the 66% circle clip */
}

.hidden {
  display: none;
}

.animation {
  position: absolute;
  /* height: 10px; */
  width: 100px;
}

.damage {
  margin-top: 100px;
  margin-left: 105px;

}

.candle {
  margin-top: 10px;
  margin-left: 107px;

}

.pig {
  margin-top: 100px;
  margin-left: 220px;

}

.pizza {
  margin-top: 200px;
  margin-left: 100px;
}

.telescope {
  /* height: 100px; */
  margin-top: 120px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}